.error-boundary {
    width: 100%;
    background-color: #83b1ff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-image {
    max-width: 100%;
    height: auto;
}

.error-heading {
    font-size: 2rem;
    color: white;
}

.error-message {
    font-size: 1.5rem;
    color: white;
}

@media only screen and (max-width: 768px) {
    .error-heading {
        font-size: 1.5rem;
    }

    .error-message {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .error-heading {
        font-size: 1.2rem;
    }

    .error-message {
        font-size: 0.8rem;
    }
}