.add-branches-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: antiquewhite;
  }
  
  .select-input,
  .branch-input,
  .remove-btn,
  .add-branch-btn,
  .submit-btn {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .remove-btn {
    margin-top: 5px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    width: max-content;
  }
  
  .remove-btn:hover {
    background-color: #c82333;
  }

  .addbranches-buttons{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .add-branch-btn,
  .submit-btn {
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 150px;
  }
  
  .add-branch-btn:hover,
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  .branch-input-container {
    display: flex;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .add-branches-container {
      padding: 10px;
    }
  }
  