/* Home.css */
.home-container {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 237, 231);
}

/* Top Container */
.top-container {
    position: relative;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-image: url("../../../Assets/background\ image.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.top-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(243, 85, 29, 0.9), rgba(235, 157, 27, 0.9))
        /* Orange overlay */
}

.home-right-section{
    position: relative;
    background: linear-gradient(to right, rgba(68, 57, 111, 0.8), rgba(254, 96, 39, 0.8));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 13px;
    margin-right: 20px;
}

.top-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.project-heading {
    color: white;
    text-align: center;
}

.college-logo {
    width: 100px;
    height: auto;
    margin-top: 20px;
}

/* Section Container */
.section-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Left Section */
.home-left-section,
.home-right-section {
    width: 50%;
    margin-top: 20px;
}

.home-left-section {
    text-align: center;
}

@media screen and (max-width : 1064px) {
    .top-container{
        background-image: url("../../../Assets/mobile\ cover\ page.jpg");
    }
}

@media screen and (max-width: 576px) {
    

    .college-logo {
        width: 70px;
    }

    .section-container {
        flex-direction: column;
    }

    .home-left-section {
        width: 100%;
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .home-right-section {
        width: 95%;
        order: 2;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

}

.section-heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.section-subheading {
    color: #333;
    font-size: 20px;
}

.home-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.signup-btn,
.login-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-btn {
    background: linear-gradient(to right, rgba(243, 85, 29, 0.9), rgba(235, 157, 27, 0.9));
    color: white;
    margin: 10px;
}

.login-btn {
    background: linear-gradient(to right, rgba(29, 100, 243, 0.9), rgba(24, 170, 184, 0.9));
    color: white;
    margin: 10px;
}

.feature-list {
    list-style-type: none;
    padding: 0;
    position: relative;
    max-width: 100%;
    overflow-wrap: anywhere;
}

.feature-list li {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
    gap: 10px;
    display: flex;
}

/* CSS for Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(12,22,55);
}

/* Adjust button style for responsiveness */
footer button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ee350c;
    color: white;
    border-radius: 5px;
}

footer a{
    text-decoration: none;
    color: white;
}

/* Style for social media links */
.social-media-links {
    display: flex;
}

.social-media-links a {
    margin-right: 10px; /* Adjust spacing between icons */
}

/* Responsive adjustments */
@media screen and (max-width: 576px) {
    footer {
        position: relative;
        margin-top: 10px;
        align-items: center;
    }

    footer button {
        margin-bottom: 10px;
    }

    .social-media-links {
        margin-top: 10px;
    }
    
}
