.admin{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: url("../../Assets/admin\ page\ background.jpg");
    background-size: cover;
    /* min-height: 100vh; */
    background-repeat: no-repeat;
    height: 100vh;
    background-position: bottom;
}

.admin-left-section,
.admin-right-section {
    /* width: 50%; */
    /* margin-top: 20px; */
    padding: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(157, 157, 157, 0.555);
    margin: 50px;
    height: 300px;
    width: -webkit-fill-available;
}

.admin-right-section{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width : 576px) {
    .admin {
        flex-direction: column;
    }

    .admin-left-section, .admin-right-section{
        height: max-content;
    }

    .admin-left-section{
        flex-direction: column;
        gap: 30px;
    }
}